@use 'utilities.scss' as u;
@use 'mixin.scss' as m;

.landingPage__img{
  @include m.bgImg('../assets/illustration-intro.png');
  background-size: 88%;
  min-height: u.to-rem(205);
  margin-bottom: u.to-rem(34);
}
.landingPage h1{
  margin-bottom: u.to-rem(18);
}