//divide pixel to 16
@function to-rem($pixel){

  @if unitless($pixel){
    @return $pixel / 16 + rem;
  }
  @else{
    @error "#{$pixel} is not valid value!";
  }
}

//justify contents
.justify-center{
  justify-content: center;
}
.justify-between{
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.text-center{
  text-align: center;
}
//margin auto
.mx{
  margin: 0 auto;
}
.my{
  margin: auto 0;
}

//container for mobile
.container{
  min-width: to-rem(278);
  margin: 0 to-rem(30);
}

